<%= render "devise/shared/links" %>

<br />
<br />
<br />
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
<div class="container eternity-form dark">
  <div class="registration-form-section">
    <form>
      <div class="section-title reg-header animated fadeInDown">
        <h3>Create Your Account </h3>
        <%= f.error_notification %>
        <%= display_base_errors resource %>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 registration-left-section  animated fadeInUp">
          <div class="reg-content">
            <%= display_base_errors resource %>
            <div class="form-field-login" >
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.input :name, label:false, :placholder=>"UserName", autofocus:true,:html=>{class:"form-control"}, :required => true %>

              </div>
            </div>
            <div class="form-field-login">
              <div class="input-group">
                <span class="input-group-addon "><i class="glyphicon glyphicon-envelope"></i></span>
                <%= f.input :email, label:false, :placholder=>"E-Mail",style:'height:34px', :html=>{class:"form-control"}, :required => true %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 registration-right-section animated fadeInUp">
          <div class="reg-content">
            <div class="form-field-login">
              <div class="input-group">
                <span class="input-group-addon "><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.input :password, label:false, :placholder=>"Password", autofocus:true,:html=>{class:"form-control"}, :required => true %>
              </div>
            </div>
            <div class="form-field-login">
              <div class="input-group">
                <span class="input-group-addon "><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.input :password_confirmation, label:false, :placholder=>"Confirm-Password", autofocus:true,:html=>{class:"form-control"}, :required => true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="registration-form-action clearfix animated fadeInUp" style="border:3px solid coral">
        <a href="/users/sign_in" class="btn btn-success pull-left blue-btn " style="background-color:#3498db">
          <i class="glyphicon glyphicon-chevron-left"></i>&nbsp; &nbsp;Back To Login
        </a>
        <%= f.button :submit, 'Sign-Up', :class => 'btn btn-success pull-right green-btn', style:"background-color:#2ecc71" %>
      </div>
    </form>
<% end %>
  </div>

</div>
<br />
<br />
<br />

<script type="text/javascript">
    $(function () {

        //Custom Checkbox For Light Theme
        $("input").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });


        //Custom Checkbox For Dark Theme
        $(".dark input").iCheck({
            checkboxClass: 'icheckbox_polaris',
            increaseArea: '20%'
        });


        //TextBox Focus Event
        $(".form-control").focus(function () {
            $(this).closest(".textbox-wrap").addClass("focused");
        }).blur(function () {
                    $(this).closest(".textbox-wrap").removeClass("focused");
                });

    });
</script>
