
<div id="divId" class="divId" style="padding-left:0px;margin-left:0px">
<% cast_query.each do |cast| %>
        <div id="spanId" style="border-bottom:2px solid <%= if params[:action] == 'top'|| params[:action] == 'tag' then ' #3498db' elsif params[:action] == 'index' then ' #34dbce' end %>">
          <% cast_id = cast.id %>
          <% cast_total = cast.upvotes.size - cast.downvotes.size %>
          <% if !user_signed_in? %>

            <span class="glyphicon glyphicon-arrow-up"></span>

          <span class="voteCount adjText <% if cast_total >= 0 %> voteGreen <% else %> voteRed <% end %>> <%= cast_total.abs %>" id="total<%= cast_id %>"> <%=cast_total.abs%> </span>

            <span class="glyphicon glyphicon-arrow-down"></span>

          <% elsif current_user.voted_up_on? cast %>
          <button type="button" class="btn btn-success btn-xs" id="upvote<%= cast_id %>" onclick="ajax_voting('up',<%= cast.id %>)">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>

          <span class="voteCount adjText <% if cast_total >= 0 %> voteGreen <% else %> voteRed <% end %>> <%= cast_total.abs %>" id="total<%= cast_id %>"><%=cast_total.abs%></span>

          <button type="button" class="btn btn-xs" id="downvote<%= cast_id %>" onclick="ajax_voting('down',<%= cast.id %>)">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>
          <% elsif current_user.voted_down_on? cast %>
          <button type="button" class="btn btn-xs" id="upvote<%= cast_id %>" onclick="ajax_voting('up',<%= cast.id %>)">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>

          <span class="voteCount adjText <% if cast_total >= 0 %> voteGreen <% else %> voteRed <% end %>> <%= cast_total.abs %>" id="total<%= cast_id %>"><%=cast_total.abs%></span>

          <button type="button" class="btn btn-danger btn-xs" id="downvote<%= cast_id %>" onclick="ajax_voting('down',<%= cast.id %>)">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>
          <% else %>
          <button type="button" class="btn btn-xs" id="upvote<%= cast_id %>" onclick="ajax_voting('up',<%= cast.id %>)">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>

         <span class="voteCount adjText <% if cast_total >= 0 %> voteGreen <% else %> voteRed <% end %>> <%= cast_total.abs %>" id="total<%= cast_id %>"><%=cast_total.abs%>
              </span>

          <button type="button" class="btn btn-xs" id="downvote<%= cast_id %>" onclick="ajax_voting('down',<%= cast.id %>)">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>
          <% end %>
          <span id="spanWidth" style="color:orange">
          <%= link_to cast, method: "get", :type => "button", :class => "btn btn-xs", style:"color:orange" do %>
                (<span class="adjText leftMain" id="matchTypeCSS" ><%= cast.match_type %></span>)
                <span class="adjText leftMain" id="redTeamCSS" ><%= cast.red_team %></span> vs
                <span class="adjText leftMain" id="blueTeamCSS" ><%= cast.blue_team %></span>
                <span class="adjText leftMain" id="bestOfCSS" >[Best of <%= cast.best_of %>]</span>
                <span class="adjText leftMain" id="tournamentNameCSS" >- <%= cast.tournament_name %></span>
                <span class="adjText leftMain" id="casterCSS">, by: <%= cast.caster %></span>
            <% end %>
          </span>
        </div>
      <!--<hr style="height:5px; margin-top:0px; margin-bottom:0px; visibility:hidden;" />-->

<% end %>
 </div>





