<div class="col-sm-4 registration-right-section animated fadeInUp">
  <div class="reg-content">
    <div class="textbox-wrap" style="padding-right:30px;padding-left:30px">
      <h4 style="margin-top:0px;text-align: center;color:#3498db">TOP TAGS</h4>
      <% if Cast.tag_counts_on(:tags).empty? %>
          No Tags Found!
      <% else %>
          <% tag_cloud Cast.tag_counts_on(:tags).order('count desc').limit(20).shuffle, %w[s m l] do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class + ' adjText' %> |
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if params['action'] == 'index' && params['controller'] == 'home' %>
<%= render 'home/displayCasts' %>
<% end %>

<div class="col-sm-4 registration-right-section animated fadeInUp">
  <div class="reg-content" align="center">
    <div class="textbox-wrap">
      <h4 style="text-align: center; margin-top:0px;color:#3498db" >OUTSIDE LINKS</h4>

      <a style="padding: 10px 10px 10px 10px" target="_blank" style="padding-top:20px" href="http://www.leagueoflegends.com"><%= image_tag("League_of_Legends_logo.png", alt:"LoL Website", width:'30%', style:'margin:0') %></a>
      <a style="padding: 10px 10px 10px 10px" target="_blank" href="http://www.lolcounter.com"><%= image_tag("lol-Counter.png", alt:"LoL Counter",style:'margin:0') %></a>

      <a style="padding: 10px 10px 10px 10px" target="_blank" href="http://www.lolking.com"><%= image_tag("lol-king.png", alt:"LoL King", style:'margin:0') %></a>
      <a style="padding: 10px 10px 10px 10px" target="_blank" href="http://www.leagueoflegendsstreams.com/"><%= image_tag("lol-streams.png", alt:"LoL Streams", style:'margin:0') %></a>
    </div>
  </div>
</div>

