<body style="background-color: #34dbce">
<br/>
<br/>
<br/>



<div class="container eternity-form dark">
  <div class="registration-form-section" style="max-width:90%">
      <div class="section-title reg-header animated fadeInDown">
        <h3>All Casts and Replays </h3>

      </div>
      <div class="clearfix">
        <div class="col-md-8 registration-left-section  animated fadeInUp">
          <div class="reg-content">
            <div class="textbox-wrap" style="padding-left:5%;padding-top:5%;padding-right:3%">
              <% if @casts.empty? %>
                  <h4 class="h3header" style="color:#34dbce;margin-top:0px">LIST IS EMPTY</h4>
              <% else %>
                  <% cast_query = @casts.where(created_at: (Time.now - 1.day)..(Time.now)).includes(:votes).order("cached_votes_score").reverse_order %>
                  <% if cast_query.all.any? %>
                      <h4 style="color:#34dbce;margin-top:0px" class="h3header">LAST 24 HOURS</h4>
                      <%= render 'query', :cast_query => cast_query %>
                  <% end %>

                  <% cast_query_week = @casts.where(created_at: (Time.now - 7.day)..(Time.now - 1.day)).includes(:votes).order("cached_votes_score").reverse_order %>
                  <% if cast_query_week.all.any? %>
                      <h4 style="color:#34dbce;margin-top:0px" class="h3header">LAST 7 DAYS</h4>
                      <%= render 'query', :cast_query => cast_query_week %>
                  <% end %>

                  <% cast_query_week = @casts.where(created_at: (Time.now - 30.day)..(Time.now - 7.day)).includes(:votes).order("cached_votes_score").reverse_order %>
                  <% if cast_query_week.all.any? %>
                      <h4 style="color:#34dbce;margin-top:0px" class="h3header">LAST 30 DAYS</h4>
                      <%= render 'query', :cast_query => cast_query_week %>
                  <% end %>

                  <% cast_query_week = @casts.where(created_at: (Cast.order("created_at").first.created_at)..(Time.now - 31.day)).includes(:votes).order("cached_votes_score").reverse_order %>
                  <% if cast_query_week.all.any? %>
                      <h4 class="h3header" style="color:#34dbce;margin-top:0px" >30 DAYS OR OLDER</h4>
                      <%= render 'query', :cast_query => cast_query_week %>
                  <% end %>
              <% end %>
            </div>

          </div>

        </div>
        <%= render 'right' %>
      </div>
  </div>

</div>
<br/>
<br/>
<br/>
<script type="text/javascript">
    $(function () {

        //Custom Checkbox For Light Theme
        $("input").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });


        //Custom Checkbox For Dark Theme
        $(".dark input").iCheck({
            checkboxClass: 'icheckbox_polaris',
            increaseArea: '20%'
        });


        //TextBox Focus Event
        $(".form-control").focus(function () {
            $(this).closest(".textbox-wrap").addClass("focused");
        }).blur(function () {
                    $(this).closest(".textbox-wrap").removeClass("focused");
                });

    });
</script>
  </body>



