<%= simple_form_for(cast) do |f| %>
    <%= f.error_notification :message => "There is a problem with one or more fields" %>
    <form class="form-horizontal" role="form" >
      <div class="form-inputs" style="margin: 10%">
        <div class="form-group">
          <button style="margin-bottom:5px" type="button" class="btn <% if cast.match_type == '3v3'%>btn-success<% end %>" id="3v3" onclick="ajax_match('3v3')">3 v 3
          </button>
          <button style="margin-bottom:5px" type="button" class="btn <% if cast.match_type == '5v5'%>btn-success<% end %>" id="5v5" onclick="ajax_match('5v5')">5 v 5
          </button>
        </div>
        <%= f.hidden_field :match_type, :id => "match_type" %>
        <div class="form-group" id="red_team" >
          <%= f.text_field :red_team, placeholder: "Red Team", id: "red_team_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="red_team_error" style="display:none">*Must be 2 - 8 Characters Long </span>
        </div>
        <div class="form-group" id="blue_team" >
          <%= f.text_field :blue_team, placeholder: "Blue Team", id: "blue_team_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="blue_team_error" style="display:none">*Must be 2 - 8 Characters Long </span>
        </div>
        <div class="from-group" id="tournament_name" >
          <%= f.text_field :tournament_name, placeholder: "Tournament Name", id: "tournament_name_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="tournament_name_error" style="display:none">*Must be 2 - 15 Characters Long </span>
        </div>
        <br/>

        <div class="from-group" id="caster" >
          <%= f.text_field :caster, placeholder: "Caster/Casters", id: "caster_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="caster_error" style="display:none">*Must be 2 - 8 Characters Long </span>
        </div>
        <br/>

        <div class="form-group" id="best_of" >
          <button style="margin-bottom:5px" type="button" class="btn <% if cast.best_of == 1%> btn-success <%end%>" id="bo1" onclick="ajax_bo('1')">BO1</button>
          <button style="margin-bottom:5px" type="button" class="btn <% if cast.best_of == 3%> btn-success <%end%>" id="bo3" onclick="ajax_bo('3')">BO3</button>
          <button style="margin-bottom:5px" type="button" class="btn <% if cast.best_of == 5%> btn-success <%end%>" id="bo5" onclick="ajax_bo('5')">BO5</button>
          <button style="margin-bottom:5px" type="button" class="btn <% if cast.best_of == 7%> btn-success <%end%>" id="bo7" onclick="ajax_bo('7')">BO7</button>
        </div>

        <div class="form-group" id="link1" >
          <%= f.text_field :link, placeholder: "Game 1 Embedded Link", id: "link1_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="link1_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link2" <% if cast.best_of <2 %> style="display:none" <% end %>>
          <%= f.text_field :link2, placeholder: "Game 2 Embedded Link", id: "link2_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="link2_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link3" <% if cast.best_of <3 %> style="display:none" <% end %>>
          <%= f.text_field :link3, placeholder: "Game 3 Embedded Link", id: "link3_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="link3_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link4" <% if cast.best_of <4 %> style="display:none" <% end %>>
          <%= f.text_field :link4, placeholder: "Game 4 Embedded Link", id: "link4_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="link4_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link5" <% if cast.best_of <5 %> style="display:none" <% end %>>
          <%= f.text_field :link5, placeholder: "Game 5 Embedded Link", id: "link5_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="link5_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link6" <% if cast.best_of <6 %> style="display:none" <% end %>>
          <%= f.text_field :link6, placeholder: "Game 6 Embedded Link", id: "link6_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="link6_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link7" <% if cast.best_of <7 %> style="display:none" <% end %>>
          <%= f.text_field :link7, placeholder: "Game 7 Embedded Link", id: "link7_field", class: 'form-control', required: "required", style: 'color:black' %>
          <span id="link7_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>

        <div class="form-actions" id="submit">
          <%= f.button :submit, 'Update', class: 'btn btn-info' %>
          <%= f.button :submit, 'Destroy', class: 'btn btn-danger' %>
        </div>
        <%= f.hidden_field :best_of, :id => 'best_of_hidden' %>

      </div>
    </form>

<% end %>




<script>
    $(window).ready(formFiller())
    $(window).ready(function(){
    var previous
    ajax_bo = function(best_of) {
        var checker = $("#best_of_hidden").val();
        if (checker != null)
        {
            $("#best_of_hidden").val("");
            $("#bo1").removeClass("btn-success");
            $("#bo3").removeClass("btn-success");
            $("#bo5").removeClass("btn-success");
            $("#bo7").removeClass("btn-success");
            while (previous > 0)
            {
                $("#link"+previous).attr("style","display:none");
                previous --;
            }
        }
        $("#best_of_hidden").val(parseInt(best_of));
        $("#bo"+best_of).addClass("btn-success");
        var i = parseInt(best_of);
        var n = 1;
        previous = i;
        while (n < i+1)
        {
            $("#link"+ n.toString()).removeAttr("Style");
            n++;
        }
    }

    ajax_match = function(match_type){

        var checker = $("#match_type").val();
        if (checker != null){
            $("#match_type").val("");
            $("#5v5").removeClass("btn-success");
            $("#3v3").removeClass("btn-success");
        }
        $("#match_type").val(match_type);
        $("#"+match_type).addClass("btn-success");
        $("#red_team").removeAttr("style");
        $("#blue_team").removeAttr("style");
        $("#caster").removeAttr("Style");
        $("#tournament_name").removeAttr("Style");

        //VALIDATION

        var red_team_flag = false;
        var blue_team_flag = false;
        var tournament_name_flag = false;
        var caster_flag = false;
        var link1_flag = false;
        var link2_flag = false;
        var link3_flag = false;
        var link4_flag = false;
        var link5_flag = false;
        var link6_flag = false;
        var link7_flag = false;
        callError("red_team",2,8);
        callError("blue_team",2,8);
        callError("tournament_name",2,8);
        callError("caster",2,14);

        function callError(error,range1,range2){
            $("#"+error+"_field").keyup( function(){
                if( $("#"+error+"_field").val().length < range1 || $('#red_team_field').val().length >= range2 )
                {
                    $("#best_of").attr("Style","display: none");
                    $("#link1").attr("Style","display: none");
                    $("#link2").attr("Style","display: none");
                    $("#link3").attr("Style","display: none");
                    $("#link4").attr("Style","display: none");
                    $("#link5").attr("Style","display: none");
                    $("#link6").attr("Style","display: none");
                    $("#link7").attr("Style","display: none");
                    $("#"+error+"_error").removeAttr("Style");
                    $("#"+error+"_error").attr("Style","color:red");
                    if (eval(error.concat("_flag"))== red_team_flag)
                    {
                        red_team_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== blue_team_flag)
                    {
                        blue_team_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== tournament_name_flag)
                    {
                        tournament_name_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== caster_flag)
                    {
                        caster_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link1_flag)
                    {
                        link1_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link2_flag)
                    {
                        link2_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link3_flag)
                    {
                        link3_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link4_flag)
                    {
                        link4_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link5_flag)
                    {
                        link5_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link6_flag)
                    {
                        link6_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link7_flag)
                    {
                        link7_flag = true;
                    }
                    else {

                    }
                }
                else
                {
                    $("#"+error+"_error").removeAttr("Style");
                    $("#"+error+"_error").attr("Style","color:green");
                    if (eval(error.concat("_flag"))== red_team_flag)
                    {
                        red_team_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== blue_team_flag)
                    {
                        blue_team_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== tournament_name_flag)
                    {
                        tournament_name_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== caster_flag)
                    {
                        caster_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link1_flag)
                    {
                        link1_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link2_flag)
                    {
                        link2_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link3_flag)
                    {
                        link3_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link4_flag)
                    {
                        link4_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link5_flag)
                    {
                        link5_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link6_flag)
                    {
                        link6_flag = true;
                    }
                    else if (eval(error.concat("_flag"))== link7_flag)
                    {
                        link7_flag = true;
                    }
                    else {

                    }
                }

            })
        }

        $("#red_team_field").keypress(function(){

            if (caster_flag == true && blue_team_flag == true && tournament_name_flag == true)
            {
                $("#best_of").removeAttr("style");
            }
        })
        $("#blue_team_field").keypress(function()
        {

            if (red_team_flag == true && caster_flag == true && tournament_name_flag == true)
            {
                $("#best_of").removeAttr("style");
            }
        })
        $("#caster_field").keypress(function()
        {

            if (red_team_flag == true && blue_team_flag == true && tournament_name_flag == true)
            {
                $("#best_of").removeAttr("style");
            }
        })
        $("#tournament_name_field").keypress(function()
        {

            if (red_team_flag == true && blue_team_flag == true && caster_flag == true)
            {
                $("#best_of").removeAttr("style");
            }
        })
    }
    })

</script>