
<%= simple_form_for @cast do |f| %>
    <%= f.error_notification :message => "There is a problem with one or more fields" %>
    <form class="form-horizontal" role="form">
      <div class="form-inputs" style="margin: 5% 10% 5% 10%">
        <div class="form-group">
          <button style="margin-bottom:5px" type="button" class="btn" id="3v3" onclick="ajax_match('3v3')">3 v 3
          </button>
          <button style="margin-bottom:5px" type="button" class="btn" id="5v5" onclick="ajax_match('5v5')">5 v 5
          </button>
        </div>
        <%= f.hidden_field :match_type, :id => "match_type" %>
        <div class="form-group" id="red_team" style="display: none;">
          <%= f.text_field :red_team, placeholder: "Red Team", id: "red_team_field", class: 'form-control', required: "required", style:"color:black" %>
          <span id="red_team_error" style="display:none">*Must be 2 - 8 Characters Long </span>
        </div>
        <div class="form-group" id="blue_team" style="display: none">
          <%= f.text_field :blue_team, placeholder: "Blue Team", id: "blue_team_field", class: 'form-control', required: "required", style:"color:black" %>
          <span id="blue_team_error" style="display:none">*Must be 2 - 8 Characters Long </span>
        </div>
        <div class="from-group" id="tournament_name" style="display: none">
          <%= f.text_field :tournament_name, placeholder: "Tournament Name", id: "tournament_name_field", class: 'form-control', required: "required", style:"color:black" %>
          <span id="tournament_name_error" style="display:none">*Must be 2 - 15 Characters Long </span>
        </div>
        <br/>

        <div class="from-group" id="caster" style="display: none">
          <%= f.text_field :caster, placeholder: "Caster/Casters", id: "caster_field", class: 'form-control', required: "required", style:"color:black" %>
          <span id="caster_error" style="display:none">*Must be 2 - 8 Characters Long </span>
        </div>
        <br/>

        <div class="form-group" id="best_of" style="display: none">
          <button style="margin-bottom:5px" type="button" class="btn" id="bo1" onclick="ajax_bo('1')">BO1</button>
          <button style="margin-bottom:5px" type="button" class="btn" id="bo3" onclick="ajax_bo('3')">BO3</button>
          <button style="margin-bottom:5px" type="button" class="btn" id="bo5" onclick="ajax_bo('5')">BO5</button>
          <button style="margin-bottom:5px" type="button" class="btn" id="bo7" onclick="ajax_bo('7')">BO7</button>
        </div>

        <div class="form-group" id="link1" style="display:none">
          <span><%= f.text_field :link, placeholder: "Game 1 Embedded Link", id: "link1_field", class: 'form-control', required: "required", style:"display:inline;color:black; width:82%" %>
            <input class="form-control" id="link1_hour" placeholder="min" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" />
            <input class="form-control" id="link1_min" placeholder="sec" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" /></span>
          <span id="link1_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>


        </div>
        <div class="form-group" id="link2" style="display:none">
          <span><%= f.text_field :link2, placeholder: "Game 2 Embedded Link", id: "link2_field", class: 'form-control', required: "required", style:"display:inline;color:black; width:82%" %>
            <input class="form-control" id="link2_hour" placeholder="min" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="3" />
            <input class="form-control" id="link2_min" placeholder="sec" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" /></span>
          <span id="link2_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link3" style="display:none">
          <span><%= f.text_field :link3, placeholder: "Game 3 Embedded Link", id: "link3_field", class: 'form-control', required: "required", style:"display:inline;color:black; width:82%" %>
          <input class="form-control" id="link3_hour" placeholder="hh" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="3" />
          <input class="form-control" id="link3_min" placeholder="mm" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" /></span>
          <span id="link3_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link4" style="display:none">
          <span><%= f.text_field :link4, placeholder: "Game 4 Embedded Link", id: "link4_field", class: 'form-control', required: "required", style:"display:inline;color:black; width:82%" %>
          <input class="form-control" id="link4_hour" placeholder="hh" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="3" />
          <input class="form-control" id="link4_min" placeholder="mm" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" /></span>
          <span id="link4_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link5" style="display:none">
          <span><%= f.text_field :link5, placeholder: "Game 5 Embedded Link", id: "link5_field", class: 'form-control', required: "required", style:"display:inline;color:black; width:82%" %>
          <input class="form-control" id="link5_hour" placeholder="hh" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="3" />
          <input class="form-control" id="link5_min" placeholder="mm" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" /></span>
          <span id="link5_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link6" style="display:none">
         <span><%= f.text_field :link6, placeholder: "Game 6 Embedded Link", id: "link6_field", class: 'form-control', required: "required", style:"display:inline;color:black; width:82%" %>
          <input class="form-control" id="link6_hour" placeholder="hh" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="3" />
          <input class="form-control" id="link6_min" placeholder="mm" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" /></span>
          <span id="link6_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>

        </div>
        <div class="form-group" id="link7" style="display:none">
          <span><%= f.text_field :link7, placeholder: "Game 7 Embedded Link", id: "link7_field", class: 'form-control', required: "required", style:"display:inline;color:black; width:82%" %>
          <input class="form-control" id="link7_hour" placeholder="hh" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="3" />
          <input class="form-control" id="link7_min" placeholder="mm" style="color:black; width:8%; display:inline" type="text" onkeypress="return isNumberKey(event)" maxlength="2" /></span>
          <span id="link7_error" style="display:none">*Not Correct! Ex(http://www.youtube.com/watch?v=XXXXXXXXXXX)</span>
        </div>

        <div class="form-actions" id="submit" style="display:none">
          <%= f.button :submit, class: 'btn btn-info' %>
        </div>
        <%= f.hidden_field :link, :id => 'link1Hidden' %>
        <%= f.hidden_field :link2, :id => 'link2Hidden' %>
        <%= f.hidden_field :link3, :id => 'link3Hidden' %>
        <%= f.hidden_field :link4, :id => 'link4Hidden' %>
        <%= f.hidden_field :link5, :id => 'link5Hidden' %>
        <%= f.hidden_field :link6, :id => 'link6Hidden' %>
        <%= f.hidden_field :link7, :id => 'link7Hidden' %>
        <%= f.hidden_field :best_of, :id => 'best_of_hidden' %>

      </div>
    </form>

<% end %>

<script>
  $(window).ready(formFiller());


</script>



