<br/>
<br/>
<br/>

<div class="container eternity-form dark">
  <div class="registration-form-section" style="max-width:90%">
    <div class="section-title reg-header animated fadeInDown">
      <h3>Casts Created</h3>
    </div>
    <div class="clearfix">
      <div class="col-md-8 registration-left-section animated fadeInUp">
        <div class="reg-content">
          <div class="textbox-wrap" style="padding-left:5%;padding-top:5%;padding-right:3%">
            <h4 class="h3header" style="color:#3498db;">Search Results</h4>
            <table class="table table-condensed" style="padding-right:5px">
              <tbody>
              <% @cast = Cast.where(user_id: current_user) %>
              <% @cast.each do |cast| %>
                      <tr style="border-top-color:#3498db;margin-right:5px">
                        <td id="matchTypeCSS" style="width:80%;color:coral;border-top-color:coral">
                          <%= link_to edit_cast_path(cast), method: "get", :type => "button", :class => "btn btn-xs", :style => "color:orange;font-size:110%" do %>
                              <span id="matchTypeCSS">(<%= cast.match_type %>)</span>
                          <% end %>
                          <%= link_to edit_cast_path(cast), method: "get", :type => "button", :class => "btn btn-xs", :style => "color:orange;font-size:110%" do %>
                              <span id="redTeamCSS"><%= cast.red_team %></span> vs
                              <span id="blueTeamCSS"><%= cast.blue_team %></span>
                          <% end %>
                          <%= link_to edit_cast_path(cast), method: "get", :type => "button", :class => "btn btn-xs", :style => "font-size:110%" do %>
                              <span id="bestOfCSS">[Best of  <%= cast.best_of %>]</span>
                          <% end %>
                          <%= link_to edit_cast_path(cast), method: "get", :type => "button", :class => "btn btn-xs", :style => "font-size:110%" do %>
                              <span id="tournamentNameCSS"><%= cast.tournament_name %></span>
                          <% end %>
                          <%= link_to edit_cast_path(cast), method: "get", :type => "button", :class => "btn btn-xs", :style => "color:orange;font-size:110%" do %>
                              <span id="casterCSS"><%= cast.caster %></span>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= render 'home/right' %>
    </div>
  </div>

</div>
<br/>
<br/>
<br/>