<h1>Listing casts</h1>

<table>
  <thead>
    <tr>
      <th>Match type</th>
      <th>Red team</th>
      <th>Blue team</th>
      <th>Best of</th>
      <th>Tournament name</th>
      <th>Caster</th>
      <th>Link</th>
      <th>Link2</th>
      <th>Upvote</th>
      <th>Downvote</th>
      <th>Count</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @casts.each do |cast| %>
      <tr>
        <td><%= cast.match_type %></td>
        <td><%= cast.red_team %></td>
        <td><%= cast.blue_team %></td>
        <td><%= cast.best_of %></td>
        <td><%= cast.tournament_name %></td>
        <td><%= cast.caster %></td>
        <td><%= cast.link %></td>
        <td><%= cast.link2 %></td>
        <td><%= cast.upvote %></td>
        <td><%= cast.downvote %></td>
        <td><%= cast.count %></td>
        <td><%= link_to 'Show', cast %></td>
        <td><%= link_to 'Edit', edit_cast_path(cast) %></td>
        <td><%= link_to 'Destroy', cast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cast', new_cast_path %>
