<div class="panel-group" id="accordion" style="margin-top:15px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Game 1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <iframe width="560" height="315"
                src="<%= @cast.link %>">
        </iframe>
      </div>
    </div>
  </div>
  <% if @cast.best_of.to_i > 1 %>
  <% (2..@cast.best_of).each do |game| %>
  <div class="panel panel-default" style="margin-top:15px">
    <div class="panel-heading">
      <h4 class="panel-title">
        <% if game == 2 then href_ = 'collapseTwo'
         elsif game == 3 then href_ = 'collapseThree'
         elsif game == 4 then href_ = 'collapseFour'
         elsif game == 5 then href_ = 'collapseFive'
         elsif game == 6 then href_ = 'collapseSix'
         else href_ = 'collapseSeven' end %>
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= href_ %>">
          Game <%= game.to_s %>
        </a>
      </h4>
    </div>
    <div id="<%= href_ %>"  class="panel-collapse collapse">
      <div class="panel-body">
        <iframe width="560" height="315"
                src="<%= @cast.link{game} %>">
        </iframe>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
