<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Game 1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <iframe width="560" height="315"
                src="<%= @cast.link %>">
        </iframe>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Game 2
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <iframe width="560" height="315"
                  src="<%= @cast.link2 %>">
          </iframe>
        </div>
      </div>
    </div>

    <!--<p id="notice"><%= notice %></p>-->

    <!--<p>-->
    <!--<strong>Match type:</strong>-->
    <!--<%= @cast.match_type %>-->
    <!--</p>-->

    <!--<p>-->
    <!--<strong>Red team:</strong>-->
    <!--<%= @cast.red_team %>-->
    <!--</p>-->

    <!--<p>-->
    <!--<strong>Blue team:</strong>-->
    <!--<%= @cast.blue_team %>-->
    <!--</p>-->

    <!--<p>-->
    <!--<strong>Best of:</strong>-->
    <!--<%= @cast.best_of %>-->
    <!--</p>-->

    <!--<p>-->
    <!--<strong>Tournament name:</strong>-->
    <!--<%= @cast.tournament_name %>-->
    <!--</p>-->

    <!--<p>-->
    <!--<strong>Caster:</strong>-->
    <!--<%= @cast.caster %>-->
    <!--</p>-->

    <!--<p>-->
    <!--<strong>Link:</strong>-->
    <!--<%= @cast.link %>-->
    <!--</p>-->

    <!--<%= link_to 'Edit', edit_cast_path(@cast) %> |-->
    <!--<%= link_to 'Back', casts_path %>-->
