<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #444444">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Home", root_path, :class => 'navbar-brand' %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to "All", root_path %></li>
      <li class="<%= 'active' if params[:action] == 'top' %>"><a href="/top">Top</a></li>
    </ul>

    <div class="navbar-form navbar-left">
      <span class="form-group form-inline">
        <%= form_tag casts_path, :method => 'get', :id => "products_search" do %>
            <%= text_field_tag :search, params[:search], :class => "form-control", :style => "width:65%", :placeholder => "Search" %>
            <%= submit_tag "Search", :class => "btn btn-default", :name => nil %>
        <% end %>
      </span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="<%= 'active' if params[:action] == 'new' %>" >
        <% if user_signed_in? %>
            <%= link_to 'New Cast', new_cast_path %>
            </li>
        <% if Cast.where(user_id: current_user).count != 0 %>
            <li class="dropdown <%= 'active' if params[:action] == 'edit' || params[:action] == 'edit_casts' %>" style="background-color: #444444" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Edit Casts <b class="caret"></b></a>
              <ul class="dropdown-menu" style="background-color: #444444">
                    <li>
                      <a>Most Recent Created:</a>
                      </li>
                    <ul>
                    <% @cast = Cast.where(user_id: current_user) %>
                    <% @cast.last(5).each do |cast| %>
                          <%= link_to edit_cast_path(cast), :class => "btn btn-default btn-xs", style: "text-decoration:none; background:transparent; color:black; border:none" do %>
                              (<span style="font-style:italic; color:gray"><%= cast.match_type %></span>)
                              <span style="color:red; font-weight:bold"><%= cast.red_team %></span> vs
                              <span style="color:blue; font-weight:bold"><%= cast.blue_team %></span>
                              <span style="color:green">[Best of <%= cast.best_of %>]</span>
                              <span style="color:lightskyblue">- <%= cast.tournament_name %></span>
                              <span>, by: <%= cast.caster %></span>
                          <% end %>
                    <% end %>
                    </ul>
                    <li>
                      <a href='/edit_casts'>View All </a>
                    </li>
                  </ul>
                </li>
           <% end %>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= if user_signed_in? then current_user.email else " My Account" end %> <b class="caret"></b></a>
          <ul class="dropdown-menu" style="background-color: #444444">
            <% if user_signed_in? %>
                <li>
                  <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
                </li>
            <% else %>
                <li>
                  <%= link_to 'Login', new_user_session_path %>
                </li>
            <% end %>
            <% if user_signed_in? %>
                <li>
                  <%= link_to 'Edit account', edit_user_registration_path %>
                </li>
                <% if current_user.has_role? :admin %>
                    <li>
                      <%= link_to 'Admin', users_path %>
                    </li>
                <% end %>
            <% else %>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path %>
                </li>
            <% end %>
          </ul>
        </li>
        </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>


