<!DOCTYPE html>
<html>

<head>
  <title>Lol-Casts</title>
  <meta name="description" content="Lol-Casts provide where users can link to their favorite replays with casts"><meta name="keywords" content="lol-casts, league of legends, league, of, legends, lolcasts, cast, replays">
  <style type="text/css"></style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Lol-Casts" %></title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lolcasts" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="background-color:transparent">

<%# application layout styled for Twitter Bootstrap 3.0 %>
<header id="header">
  <%= render 'layouts/navigation' %>
</header>
<main id="main" role="main" style="background-color:transparent" >
        <%= render 'layouts/messages'%>
        <%= yield %>
</main>
<footer>
</footer>
</body>
<div class="fixed-side-social-container">
    <span></span></a><a class="social-icon twitter-icon" href="https://twitter.com/_LoLCasts" target="new" title="Follow us on Twitter">
  <span></span></a><a class="social-icon facebook-icon" href="https://www.facebook.com/leagueoflegendsCasts" target="new" title="Like us on Facebook">
  <span></span></a><a class="social-icon google-icon" href="https://plus.google.com/114114496834951067469" target="new" title="Follow us on Google+">
  <span></span></a>
</div>
</html>
