<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Lol-Casts" %></title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lolcasts" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="background: url('/assets/league_background.jpg'); background-size:100%; background-attachment: fixed">

<%# application layout styled for Twitter Bootstrap 3.0 %>
<header id="header">
  <%= render 'layouts/navigation' %>
</header>
<main id="main" role="main" style="background-color:transparent" >
        <%= render 'layouts/messages' %>
        <%= yield %>
</main>
<footer>
</footer>
</body>
<div class="fixed-side-social-container">
  <a class="social-icon linkedin-icon" href="http://www.linkedin.com/YourProfile" target="new" title="Follow us on LinkedIn">

    <span></span></a><a class="social-icon twitter-icon" href="https://twitter.com/YourProfile1" target="new" title="Follow us on Twitter">
  <span></span></a><a class="social-icon facebook-icon" href="https://www.facebook.com/YourProfile" target="new" title="Like us on Facebook">
  <span></span></a><a class="social-icon google-icon" href="https://plus.google.com/106032972855787333251" target="new" title="Follow us on Google+">
  <span></span></a>
</div>
</html>
